<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>sumayah's website
		
	</title>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='personal.css') }}">
	 <script src="personal.js"></script>
</head>
<nav><font color="white">Sumayah <br>Takruri </font></nav>
<body>
	<h1><font color="darkblue">who is sumayah?</font></h1>
	<img src="{{ url_for('static', filename='sumayah.jpeg') }}" width="200" height="200" id="center">
	<p><font color="darkblue">I'm a palestinian student at Rosary Sisters's high school</font> </p>
	<a href="http://www.rosmun.net/about-us/rosary-sisters-high-school/">my school's website</a>

	<p><font color="darkblue">I love being involved in extracurricular activities. For instance:</font></p>
	<ul>
		<li><font color="darkblue">i dance ballet</font></li>
		<img src="{{ url_for('static', filename='ballet.jpg') }}" width="150" height="150" >
		
		<li><font color="darkblue">i dance contemporary dance</font></li>
		<li><font color="darkblue">i weekly swim</font></li>
		<li><font color="darkblue">i do the delf exams</font></li>
		<li><font color="darkblue">i participate in conferences</font></li>
	</ul>

</body>
</html>